@import 'styles/reset.css';
@import 'styles/typography.css';
@import 'styles/variables.css';


body {
  min-height: 100vh;
  font: normal 1rem/1.5 "Inter", sans-serif;
  background-color: var(--color-primary);
  color:var(--color-light);

}

.container {
  margin: var(--spacing-large) 0 6px;
  padding: 0 var(--spacing-medium-large);

}

.h1 {
  text-align: center;
  font-size: var(--font-size-xxl);
  line-height: 36px;
}

.h2 {
  margin-bottom: var(--spacing-medium-small);
  text-align: center;
  font-size: var(--font-size-xl);
}

.h3 {
  margin-top: var(--spacing-medium-small);
  text-align: center;
  font-size: var(--font-size-lg);
}

.text-input {
  width: 100%;
  padding: var(--spacing-medium) var(--spacing-medium-large);
  border-radius: var(--rounded);
  border: 1px solid var(--color-dark);
  font-size:  var(--font-size-m);
  font-family: inherit;
  line-height: inherit;
  background-color: var(--color-light);
  color: var(--color-dark);
}

.button {
  display: block;
  width: 100%;

  padding: var(--spacing-medium) var(--spacing-medium-large);

  font-size: inherit;
  font-family: inherit;
  line-height: inherit;

  border: none;
  border-radius: var(--rounded);


  background-color: var(--color-secondary);
  color: var(--color-dark);
  cursor: pointer;
}

